*,
::after,
::before {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

.nav {
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.150);


}

.nav__container {
    width: min(90%, 1440px);
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 80px;

    --icon-toggle-menu: url("../../public/assets/icons/menu.svg");
    --transform-menu-show: translate(-100%);

}

.nav__container:has(.nav__input:checked) {
    --icon-toggle-menu: url("../../public/assets/icons/arrow.svg");
    --transform-menu-show: translate(0);
}

.nav__figure,
.nav__toggle {
    z-index: 10;
}

.nav__input {
    display: none;
}

.nav__toggle {

    width: 30px;
    height: 30px;
    background-image: var(--icon-toggle-menu);
    background-size: cover;
    cursor: pointer;

    transition: background-image .2s;
}

.nav__input {
    width: 40px;
    height: 40px;
}

.nav__list {
    transform: var(--transform-menu-show);
    position: fixed;
    inset: 0;

    display: grid;
    place-content: center;
    gap: 2rem;
    text-align: center;

    padding: 1.5rem 5%;
    background-color: aliceblue;
    list-style: none;


    transition: .5s transform;
}

.nav__item {
    width: 160px;
    height: auto;
}

.nav__item__btn-is {
    width: 160px;
    height: auto;
    border: 2px solid #0F62FE;
    padding: 10px 10px;
    text-decoration: none;
}

.nav__item__btn-r {
    background-color: #0F62FE;
    width: 160px;
    height: auto;
    border: 2px solid #0F62FE;
    padding: 10px 10px;
    text-decoration: none;
}

.nav__list__cta {
    inset: 0;

    display: grid;
    place-content: center;
    gap: 2rem;
    text-align: center;

    padding: 0rem 5%;
    list-style: none;


    transition: .5s transform;
}



.nav__link {
    color: black;
    text-decoration: none;
}

.nav__link__btn-is {
    color: rgb(0, 89, 255);
}

.nav__link__btn-r {
    color: rgb(255, 255, 255);
}

@media (width > 1120px) {
    .nav__container {
        --transform-menu-show: translate(0);
    }

    .nav__toggle {
        display: none;
    }

    .nav__list {
        position: static;
        grid-auto-flow: column;
        place-content: unset;
        padding: 0;
        background-color: white;
        gap: 3rem;


        transition: unset;
    }

    .nav__item {
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;


    }

    .nav__link {
        width: 100%;
    }

    .nav__list__cta {
        position: static;
        grid-auto-flow: column;
        place-content: unset;
        padding: 0;
        /*El gap original es de 2rem*/
        gap: 1rem;

        transition: unset;
    }

    .nav__item__btn-is {
        width: auto;
        height: auto;
        border: 2px solid #0F62FE;
        padding: 10px 16px;
    }

    .nav__item__btn-r {
        background-color: #0F62FE;
        width: auto;
        height: auto;
        border: 2px solid #0F62FE;
        padding: 10px 16px;
    }


}